* {
    color: #eaeaea;
    font-family: 'Courier New';
}

body {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-color: #4d4d4e;

}

body::-webkit-scrollbar {
    display: none;
}

.center-box {
    display: flex;
    flex-direction: column;
    width: 50vh;
    height: 320vh;
    background-color: grey;
    border-right: 2px solid black;
    padding: 30px;

    align-items: center;
    justify-content: flex-start;

}

.center-box h1 {
    display: flex-start;
    margin-bottom: 40px;

}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}

.input-wrapper input {
    flex: 1;
    padding: 10px;
    color: black;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}




.box-elements button {
    color: black;
}

.container {
    display: flex;
}

.images button {
    color: black !important;
}

.image-item {
    position: relative;
    display: inline-block;
    border-radius: 12px;
    overflow: hidden;

}

.quantity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    color: white;
    background: rgba(0, 0, 0, .6);
    opacity: 0;

}

.quantity h1 {
    justify-self: center;
    margin-top: 50%;
    font-size: 75px;
}

.image-item:hover .quantity {
    opacity: 1;
}

.image-item:hover .buttons {
    opacity: 1;
}

.image-item img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    ;
}

.buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;


}

.images {
    flex: 1;
    padding: 10px;
}

.buttons button {
    color: white !important;
    height: 300vh;
    width: 80px;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    font-size: 80px;
}